.btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

.btn[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn--sm {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.btn--md {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.btn--lg {
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.btn--primary {
  background-color: #0984e3;
}

.btn--success {
  background-color: #00b894;
}

.btn--danger {
  background-color: #d63031;
}

@media screen and (min-width: 640px) {
  .btn {
    width: unset;
  }
}
